<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đặt hàng thành công</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- Include header -->
    <%- include('partials/header') %>

    <h1>Cảm ơn bạn đã mua hàng!</h1>
    <p>
      Đơn hàng của bạn đã được xử lý thành công. Chúng tôi sẽ gửi email xác nhận
      đến bạn trong thời gian sớm nhất.
    </p>

    <a href="/">Trở về trang chủ</a>

    <!-- Include footer -->
    <%- include('partials/footer') %>
  </body>
</html>
